.aboutcontainer {
  font-family: Arial, sans-serif;
  padding: 20px;
  
  max-width: 1200px;
  margin: auto;
  color: #b5b5c8;
  min-height:100vh ;
  
}

.abouthero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.abouttext {
  max-width: 700px;
  text-align: center;
}

.abouttext h1 {
  font-size: 36px;
  color: #e3e3f6;
  margin-bottom: 10px;
}

.tagline {
  font-weight: bold;
  margin-bottom: 15px;
  color: #d9e0deed;
}

.sectiontitle {
  text-align: center;
  margin: 40px 0 20px;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: rgba(168, 146, 146, 0.059);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(134, 192, 255, 0.588);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.why {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.whytext {
  flex: 1;
}

.whytext ul {
  margin-top: 10px;
  padding-left: 20px;
}

.mission {
  flex: 1;
  background: #9595e423;
  padding: 20px;
  border-radius: 10px;
}

.cta {
  text-align: center;
  margin-top: 50px;
}

.ctabutton {

  background: #4b4bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
  position: relative;
  top:40px;
}

.ctabutton:hover {
  background: #3a3ad1;
}

@media (max-width: 992px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }

  .why {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .features {
    grid-template-columns: 1fr;
  }

  .abouttext h1 {
    font-size: 28px;
  }
}