/* 
.loginImg{
    width:100%;
    flex:1;
    position:relative;
    background:linear-gradient(to left,rgba(240,248,255,.7),transparent),
    url(../../../assets/loginImg.jpg) center/cover ;
   
}
 */

.loginForm{
    
    /* padding-inline: 10%; */
    width:50vw;
    /* min-height: 83vh; */
    /* padding:10%; */
    padding-top:20%;
    /* padding-bottom:5%; */
    /* padding-right: 10%; */
    /* background-color: aqua; */
}


.title{
    background-color: transparent;
    display:flex;
    gap:20px;
    padding-bottom: 1%;
    justify-content: center;
    padding-right: 15%;
}

.title h1{
    /* background-color: transparent; */
    margin-top: 4px;
}
.title img{
    background-color: transparent;
    width:50px;
    height:50px;
}

.inputSection{
    background-color: transparent;
    /* padding-top:10%; */
    gap:10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top:30px;
    text-align: right;
    padding-right: 15%;
    /* height:60%; */
}


.inputSection input{
    background-color: transparent;
    margin:0px 0px 20px 0px;
    width:92%;
    padding:3%;
    /* gap:20px; */
    border-radius: 10px;
    border-color: none;
    

}

.inputSection button,a{
    margin-bottom: 20px;
}
.inputSection p{
    margin-bottom: 200px;
}

.inputSection button{
    padding-bottom: 20px,30px, 40px, 50px;
    border-radius: 10px;
}
.inputSection input:hover{
    background-color: rgb(232, 234, 236);
    

}

.inputSection button{
    height:40px;
    width:200px;
    background-color: #41dd41ab;
    /* border-radius: ; */
}

.inputSection button:hover{
    /* height:40px;
    width:200px; */
    background-color: #d0ead0be;
}

.inputSection button:active{
    height:40px;
    width:200px;
    background-color: #145f14bd;
}



.loginLink a:hover{
    color:rgb(45, 116, 179);
}

.loginLink{
    /* margin-bottom: 20px; */
}


.returnHome a:active{
    color:rgb(16, 59, 100);
}


.returnHome:hover{
    color:rgb(45, 116, 179);
}


.returnHome:active{
    color:rgb(16, 59, 100);
}


button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

@media (max-width:900px) {
    .loginForm{
        /* background-color: aqua; */
        /* padding:0; */
        width:85vw;
        height:h;
        padding-left: 15vw;
        /* padding:20%; */
        /* padding-left:20%;
        padding-right: 20%; */
    }
    
}


@media (max-width:500px) {
}
