



.registerForm{
    padding-top:5%;
    padding-right: 10%;
}


.registerForm p{
    color:black;
}

.registerForm a{
    color:rgba(4, 92, 215, 0.959);
}


.title{
    background-color: transparent;
    display:flex;
    gap:20px;
    padding-bottom: 1%;
    justify-content: center;
}

.title h1 {
    margin-top: 5px;
    font-size: 35px;
    color: black;
}

.title img{
    background-color: transparent;
    width:50px;
    height:50px;
}


.inputSection{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top:30px;
    text-align: right;
    gap: 20px;
}


.inputSection input{
    background-color: transparent;
    margin:0 0 20px 0;
    width:92%;
    padding:3%;
    border-radius: 10px;
    border: 1px solid #ccc;   
}


.inputSection input:hover{
    background-color: rgb(232, 234, 236);
}


.inputSection p,
.inputSection button,
.inputSection a{
    margin-bottom: 20px;
}


.inputSection button{
    height:40px;
    width:200px;
    border-radius: 10px;
    background-color: #41dd41ab;
    border: none;
    cursor: pointer;
}


.inputSection button:hover{
    background-color: #888d88be;
}

.inputSection button:active{
    background-color: #145f14bd;
}


fieldset{
    padding:20px;
    margin-bottom: 30px;
    text-align: left;
    border:2px solid rgb(187, 216, 234);
    border-radius: 10px;
}


.loginLink a:hover{
    color:rgb(45, 116, 179);
}

.loginLink{
    
}

.returnHome a:active{
    color:rgb(16, 59, 100);
}

.returnHome:hover{
    color:rgb(45, 116, 179);
}

.returnHome:active{
    color:rgb(16, 59, 100);
}


.bottomLink{
    display:flex;
    justify-content:space-between;
}


button:disabled {
    background: #ccc;
    cursor: not-allowed;
}



@media (max-width:900px) {
    .registerForm{
        width:100vw;
        padding:2% 20% 0% 20%;
    }

    .bottomLink{
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width:500px) {
    .registerForm{
        width:100vw;
        padding:3% 10% 0% 10%;
    }
}