/* 
.loginImg{
    width:100%;
    flex:1;
    position:relative;
    background:linear-gradient(to left,rgba(240,248,255,.7),transparent),
    url(../../../assets/loginImg.jpg) center/cover ;
   
}
 */

.registerForm{
    padding-top:5%;
    /* padding-bottom:5%; */
    padding-right: 10%;
}


.title{
    background-color: transparent;
    display:flex;
    gap:20px;
    padding-bottom: 1%;
    justify-content: center;
}

.title h1{
    /* background-color: transparent; */
    margin-top: 4px;
}
.title img{
    background-color: transparent;
    width:50px;
    height:50px;
}

.inputSection{
    background-color: transparent;
    /* padding-top:10%; */
    gap:10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top:30px;
    text-align: right;
    /* height:60%; */
}


.inputSection input,select{
    background-color: transparent;
    margin:0px 0px 20px 0px;
    width:92%;
    padding:3%;
    /* gap:20px; */
    border-radius: 10px;
    border-color: none;
    

}
.inputSection select{
    color:rgba(83, 105, 105, 0.76);
    width:99%;
    border:2px solid rgba(28, 31, 33, 0.927);

    
}

.option{
    background-color:aliceblue;
}


.inputSection p,button,a,select{
    margin-bottom: 20px;
}
.inputSection button{
    padding-bottom: 20px,30px, 40px, 50px;
    border-radius: 10px;
}
.inputSection input:hover{
    background-color: rgb(232, 234, 236);
    

}

fieldset{
    padding:20px;
    margin-bottom: 30px;
    text-align: left;
    border:2px solid rgb(187, 216, 234);
    border-radius: 10px;
}


.inputSection button{
    height:40px;
    width:200px;
    background-color: #919591ab;
}

.inputSection button:hover{
    /* height:40px;
    width:200px; */
    background-color: #6f726fbe;
}

.inputSection button:active{
    height:40px;
    width:200px;
    background-color: #145f14bd;
}



.loginLink a:hover{
    color:rgb(45, 116, 179);
}

.loginLink{
    /* margin-bottom: 20px; */
}

.returnHome{
    position:relative;
    top:-10px;
    /* margin-bottom: -50px; */
}

.returnHome a:active{
    color:rgb(16, 59, 100);
}


.returnHome:hover{
    color:rgb(45, 116, 179);
}


.returnHome:active{
    color:rgb(16, 59, 100);
    
}


button:disabled {
    background: #ccc;
    cursor: not-allowed;
}


@media (max-width:900px) {
    .registerForm{
        width:70vw;
        padding-left:20%;
        /* padding-right: 20%; */
    }
    

    
}


@media (max-width:500px) {
}
