
.page {
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginForm {
    
    width: 35vw;
    max-width: 500px;
    min-width: 300px;
    border-radius: 10px;
}
.page p{

    color:black;
}

.page a{
    color:rgba(4, 92, 215, 0.959);
}

.title {
    display: flex;
    
    gap: 20px;
    justify-content: center;
    align-items: center;
    
    padding-bottom:50px;
}

.title h1 {
    font-size: 35px;
}

.h2{
    
    font-size:30px;
    color:rgba(52, 65, 72, 0.837);
    
    padding-bottom:30px;
}

.title img {
    width: 50px;
    height: 50px;
}

.inputSection {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.inputSection input,
.inputSection select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.inputSection select {
    color: rgba(83, 105, 105, 0.76);
    
}

.option {
    background-color: aliceblue;
}

.inputSection button {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: #919591ab;
}

.inputSection button:hover {
    background-color: #6f726fbe;
}

.inputSection button:active {
    background-color: #145f14bd;
}
.LoginBtn{
    text-align: right;
}
.LoginBtn button{
    
    width:30%;
}

fieldset {
    padding: 20px;
    margin-bottom: 30px;
    text-align: left;
    border: 2px solid rgb(187, 216, 234);
    border-radius: 10px;
    color:rgba(0, 0, 0, 0.455);
}

.loginLink a:hover {
    color: rgb(45, 116, 179);
}

.linkToOtherPages{
    text-align: right;
    display: grid;
    
    gap:30px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.returnHome {
    position: relative;
    top: -10px;
}

.returnHome:hover {
    color: rgb(45, 116, 179);
}

.returnHome:active {
    color: rgb(16, 59, 100);
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

@media (max-width: 900px) {
    .page {
        width:100vw;
        
    }

    .loginForm {
        width:65%;
        max-width: 100%;
        
    }

}

@media (max-width:600px){
    
    .loginForm {
        width:90%;
        max-width: 100%;
        
    }
}

@media (min-width:900px){
    
    .loginForm {
        width:80%;
        max-width: 100%;
        
    }
}

.logoDiv{
    font-size: 60px;
    background:linear-gradient(120deg,#ff6ec4,#ff9a44,#f9c449,#4cd964,#34c759,#5ac8fa,#5856d6);
    background-size:200% auto;

    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ;
    
}

.sbmBtn{
    margin-top:30px ;
    margin-bottom:30px ;
}

.inputOtp{
    margin-top: 30px;
    
}