.layout {
  display: flex;
  min-height: 100vh;

  background: linear-gradient(135deg, #ffffff 0%, #f0f0f0 0%, #0f0ff0 100%);
  
}
.mainContent {
  flex: 1;
  width:70%;
  margin-left: 260px;
  transition: margin-left 0.3s ease;
  display: flex;
  flex-direction: column;
}

.mainContent.expanded {
  margin-left: 80px;
}

.content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
  }
}


.Ai{
  position: absolute;
  z-index: 2000;
  bottom:20px;
  text-align: center;
  font-size: 20px;
  
  height: 40px;
  width:50px;
  /* border-radius: 50%; */
  background-color: #0f0ff0;

}