.sidebarLogoDiv img{
  height:40px;
  display:flex;
  padding-bottom: 60px;
}

.sidebarLogoDiv{
  display:flex;
}
img{
  width: 20px;

}
.list{
  
  display: flex;
  /* justify-content: left; */
  /* align-items: center; */
  /* align-items: center; */
  /* text-align: center; */
}

.logo{
  width:40px;
  display:flex;
}
.SidebarDiv{
  display :flex;
  flex-direction: column;
  background-color:rgba(208, 230, 244, 0.732);
  padding-left: 25px;
  padding-right:25px;
  
  
}

.logo-text{
  font-size:20px;
  font-weight:bold;
}

.list{
  display:flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;

  
}
.list span{
  padding-left: 10px;
  position: relative;
  bottom:3px;
}


.Bottom{
  margin-top:auto;
  display:flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap:6px;
  
  
}
.Bottom button{
  border:none;
  background-color: transparent;
}
