.container {
  padding: 20px;
  color: white;
}


.createBox {
  
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.createBox input,
.createBox select {
  padding: 8px;
  border-radius: 6px;
  border: none;
  min-width: 120px;
  flex: 1;
  background-color: transparent;

}

.createBox button {
  padding: 8px 14px;
  background: #667eea;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}


.grid {
  display: grid;
  grid-template-columns: 120px repeat(6, 1fr);
  border: 1px solid rgba(255,255,255,0.1);
  overflow-x: auto; 
}

.header {
  padding: 10px;
  background: rgba(46, 66, 155, 0.3);
  text-align: center;
  font-weight: bold;
}

.time {
  padding: 10px;
  
  white-space: nowrap;
}

.cell {
  min-height: 80px;
  padding: 8px;
  border: 2px solid rgba(214, 31, 31, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cell strong {
  font-size: 14px;
  border:2px solid white;
}

.cell span {
  font-size: 12px;
  color: #ccc;
}

.cell small {
  font-size: 11px;
  color: #803535;
}

.empty {
  color: rgba(255,255,255,0.3);
}


.createBtn {
  padding: 10px 16px;
  
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
}


.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.meta input {
  padding: 8px;
  border-radius: 6px;
  border: none;
  flex: 1;
}


.cellInput {
  padding: 6px;
  border: 1px solid rgba(255,255,255,0.1);
  background: rgba(255,255,255,0.05);
  color: white;
}


.tableBox {
  margin-top: 30px;
}

.caption {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  
  gap: 10px;
  align-items: center;
}




@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .grid {
    font-size: 12px;
  }

  .header,
  .time {
    padding: 6px;
    font-size: 12px;
  }

  .cell {
    min-height: 60px;
    padding: 5px;
  }

  .createBox {
    flex-direction: column;
  }

  .createBox input,
  .createBox select {
    width: 100%;
  }

  .caption {
    flex-direction: column;
    align-items: flex-start;
  }
}


@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 90px repeat(6, 1fr);
  }

  .cell {
    min-height: 70px;
  }
}


@media (min-width: 1400px) {
  .grid {
    grid-template-columns: 150px repeat(6, 1fr);
  }

  .cell {
    min-height: 100px;
  }
}