.page{
    /* height:100vh;
    width:100vw; */
    color:white;
    text-align: center;
    /* background-color: ; */

}


.page h1{
    /* text-align: center; */
    font-size: 60px;
    background:linear-gradient(120deg,#ff6ec4,#ff9a44,#f9c449,#4cd964,#34c759,#5ac8fa,#5856d6);
    background-size:200% auto;

    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ;
    
}