
.logo{
    width: 50px;
    height: 50px;
    
}
.nav{
    
    padding-left:.5%;
    padding-top:.5%;
    padding-right:1%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.listOfNavMenu{
    background-color: transparent;
    display:flex;
    gap: 20px;
    
    justify-content: space-around;
}

.listOfNavMenu a{
    color:white;
    background-color:transparent;
    text-decoration: none;
    
    font-size: 18px;
    font-weight: 500;

}
.listOfNavMenu a:hover{
    
    
    color: rgb(75, 196, 181);
    
    
    
}


.loginAndRegister{
    display:flex;
    gap: 10px;
}
.register{
    border-radius: 10px;
    
    
    
}

.login{

    border-radius: 10px;
    
    
}



.register:active{
    border:.5px solid rgb(51, 124, 201);
    background-color: rgb(51, 124, 201);
}

.login:active{
    background-color:rgb(51, 124, 201) ;
    border:.5px solid rgb(51, 124, 201);
    
}

.navMenu {
  text-decoration: none;
  color: black;
}

.active {
  border-bottom: 3px solid white;
}

.active:hover{
    border-bottom: 3px solid rgb(75, 196, 181);

}



.hrFaded{
    height:2px;
    border:none;
    background:linear-gradient(
        to right,
        transparent,
        rgba(255,255,255,1) 50%,
        rgba(255,255,255,1) 50%,
        transparent 95%

    )
}



.homeNav{
    position:fixed;
    top:0px;
    left:0px;
    width:99%;

    z-index:100;
    background-color: transparent;
}


.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  color: black;
  min-width: 200px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background: #f0f0f0;
}



.dropdownTitle{
    color:white;
    background-color:transparent;
    text-decoration: none;
    
    font-size: 18px;
    font-weight: 500;

}
.dropdownTitle:hover{
    color: rgb(75, 196, 181);
    
}


.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}



@media (max-width: 768px) {

  .hamburger {
    display: block;
    font-size: 28px;
    color: white;
    cursor: pointer;
  }

  
  .listOfNavMenu {
    display: none;
  }

  
  .listOfNavMenu.mobileMenu {
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 60px;
    right: 0;
    
    width: 200px;
    background: rgba(0,0,0,0.5);
    padding: 10px 20px;
    
    z-index: 2000;
  }

  
  .closeBtn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  .listOfNavMenu a {
    color: white;
  }

  
  .dropdown {
    width: 100%;
  }

  .dropdownMenu {
    left:-20px;
    background: rgba(26, 17, 17, 0.974);
    color: white;
    box-shadow: none;
    z-index:200px;
    width:260px;
    max-height: 300px;
    overflow: scroll;
  }
  .dropdownItem:hover{
    background-color: rgba(0, 0, 0, 0.947);
  }

  .dropdownItem {
    color: white;
  }
  
.loginAndRegister{
    display:flex;
    flex-direction: column;
    gap: 15px;
}

}