.container {
  padding: 20px;
  color: white;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 12px;
}

.code {
  opacity: 0.6;
}

/* BANNER */
.banner img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
  margin-top: 15px;
}

/* CARD */
.card {
  margin-top: 20px;
  padding: 15px;

  background: rgba(255,255,255,0.05);
  border-radius: 14px;
}

/* GALLERY */
.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.gallery img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

/* STRUCTURE */
.block {
  margin-top: 15px;
}

.innerBlock {
  margin-left: 15px;
  margin-top: 8px;
}

.sub {
  opacity: 0.7;
}

.sem {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.tags span {
  background: #667eea;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}