*{
    margin:0px;
    padding: 0px;
    text-decoration: none;
    
}

body{
    background-color: aliceblue;
    /* background-color:blueviolet; */
    
}

select{
    min-height: 30px;
    /* text-decoration: none; */
    /* text-align: left; */
    padding: 10px;
    /* max */

}
