*{
    margin:0px;
    padding: 0px;
    text-decoration: none;
    
}

body{
    background-color: aliceblue;
    color:black;
    
    
}

select{
    min-height: 30px;
    
    
    padding: 10px;
    

}
