/* .Icons{
    height:50px;
    width:50px
} */
.socialIcons{
    /* width:100px; */
    /* padding:20px 10vw 20px 10vw; */
    /* background-color: aquamarine; */
    display:flex;
    /* color:blue; */
    font-size:50px;
    justify-content: space-evenly;
    gap:10px;
}


