.layout{
    min-height:100vh;
    
    display:flex;
    flex-direction:column;

    background:
    
        url("") no-repeat,
        linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,.1)),
        linear-gradient(
            135deg,#1e3c72,#2a5298,#6a11cb,#ff4b8b
        );
    background-size:contain;
}

.main{
    flex:1;
}